<main>
  <section class="postCont">
    <div class="postContP">
      <div class="postP">
        <h3 class="postTitleP">
          Post Nº <%= @post.id %> by <%= @post.author.name %></h3>
        <div class="postCountersP">
          <p class="postText"> Comments: <%= @post.comments_counter %> - Likes: <%= @post.likes_counter %></p>
        </div>
      </div>
      <p class="contText"><%= @post.text %></p>
    </div>
    </div>

    <div class="postContP">
      <ul>
        <% @post.comments.each do |comment| %>
          <p class="contText"><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
      </ul>
    </div>
      <div class="interaction">
      <div class="likeBtn">
        <div class="shareIt">
          <%= link_to 'Add a Comment', new_user_post_comment_path(@post.author, @post), class: "btn" %>
        </div>
          <%= form_with(url: user_post_likes_path(@post.author, @post), method: :post) do |form| %>
            <%= form.submit 'Like', class: "btn"%>
          <% end %>
        </div>
      </div>
  </section>
</main>
